pip>=25.2
pygments==2.19.2
mdurl==0.1.2
markdown-it-py==4.0.0
rich==14.1.0
streamlit==1.36.0

fastapi==0.95.2
uvicorn[standard]==0.22.0
python-dotenv==1.0.1
pydantic==1.10.11
# Google Cloud & Vertex AI
google-auth==2.23.0
google-cloud-aiplatform==1.43.0
vertexai==1.71.1
langchain-core==0.0.240




